# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# Flask instance folder
instance/

# Database files
*.sqlite
*.db

# IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
*.env
.flaskenv
